parameters:
    level: 9
    paths:
        - bin
        - functions
        - src
        - cli
    stubFiles:
        - stubs/auryn-injector.stub
        - stubs/container-interface.stub
    excludePaths:
        analyse:
            - src/**/*Experimental*.php
    parallel:
        maximumNumberOfProcesses: 1
